body {
    color: #212121;
    font-size: 14px;
}

header {
    background-color: #F9F6F1;
}

.header__row {
    align-items: center;
    padding: 50px 0;
}

.header__nav-left {
    font-size: 0px;
}

.nav-left__item {
    display: inline-block;
    padding: 15px;
}

.nav-left__item:hover {
    background-color: #ebe0ce;
    box-shadow: inset -2px -2px #dbc8a9;
    cursor: pointer;
}

.nav-left__menu {
    display: none;
}

.nav-left__item:hover .nav-left__menu {
    display: block;
}

.nav-left__menu {
    z-index: 10;
    position: relative;
    margin-top: 10px;
    border: 1px solid #dbc8a9;
}

.nav-left__menu span {
    display: block;
    padding: 10px;
    background-color: #ebe0ce;
    cursor: pointer;
}

.nav-left__item:last-of-type {
    margin-right: 0;
}

.nav-left__item span {
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: .03;
}

.nav-center__logo {
    text-align: center;
}

.nav-right__item {
    text-align: right;
}

.nav-right__item button {
    border: none;
    background: none;
}

.nav-right__item div {
    display: inline-block;
    vertical-align: middle;
}

.nav-right__item button:first-of-type {
    margin-right: 35px;
}

.nav-right__item button:last-of-type {
    margin-right: 83px;
}

.header__counter {
    padding: 0 14px 0 22px;
    background-color: #D7B399;
    color: white;
}


/* ================================= */

.main__first {
    font-size: 0;
}

.main__left-promo {
    display: inline-block;
}

.left-promo__title {
    display: block;
    font-size: 30px;
    font-weight: 400;
    margin-top: 34px;
}

.left-promo__text {
    display: block;
    font-size: 55px;
    font-weight: 700;
    margin-top: 35px;
}

.left-promo__btn {
    display: block;
    font-size: 16px;
    margin-top: 55px;
    width: 240px;
    height: 55px;
    padding: 17px 30px 18px 29px;
    text-align: center;
    background-color: #D7B399;
    color: white;
}

#btn__a-1 {
    display: inline-block;
}

#btn__a-1:hover,
#btn__a-2:hover,
#btn__a-3:hover {
    text-decoration: none;
}

.main__right-promo {
    display: inline-block;
}

.right-promo__price1 {
    position: absolute;
    top: 40px;
    right: 7px;
    font-size: 24px;
    text-decoration: line-through;
}

.right-promo__price2 {
    position: absolute;
    top: 83px;
    right: 0px;
    font-size: 42px;
    color: #D84033;
}

section:first-child {
    background-color: #F9F6F1;
}

section:nth-of-type(2) {
    background-color: #212121;
}

.main__slider {
    text-align: center;
    vertical-align: middle;
    margin: 130px auto 80px auto;
    font-size: 0px;
}

.slide__page {
    display: inline-block;
    background: #CECECE;
    width: 40px;
    height: 7px;
    margin-right: 15px;
}

.slide__page:last-of-type {
    margin-right: 0px;
}

.page__active {
    background-color: #D7B399;
}

.main-second {
    color: white;
}

.main-second__title {
    width: 588px;
    margin: 0 auto;
    font-size: 30px;
    padding-top: 80px;
    padding-bottom: 23px;
}

.title__up {
    font-weight: 700;
}

.main-second__text {
    width: 394px;
    margin: 0 auto;
    font-size: 21px;
    padding-bottom: 69px;
}

.third-main__bgc {
    background: linear-gradient(to right, #F9F6F1 0%, #F9F6F1 50%, #F4F4F4 50%, #F4F4F4 100%);
}

.main-third__right,
.main-third__left {
    display: inline-block;
    width: 100%;
}

.main-third__left {
    background: right 15px bottom no-repeat url("/img/Rectangle 3.png");
    background-size: 190px 171px;
}

.main-third__right {
    background: right 15px bottom no-repeat url("/img/Rectangle 3.1.png");
    background-size: 190px 171px;
}

.third__title {
    margin-top: 60px;
    margin-bottom: 25px;
}

.third__btn {
    margin-top: 40px;
    margin-bottom: 58px;
    width: 80px;
    height: 30px;
    text-align: center;
    vertical-align: middle;
    background-color: #D7B399;
}

.main-fourth__bgc {
    width: 100%;
    height: 236px;
    background: no-repeat url(/img/short.png);
    background-size: cover;
}

.row:nth-of-type(odd) .main-fourth__bgc:nth-child(odd) {
    background: no-repeat url(/img/short-1.png);
    background-size: cover;
}

.row:nth-of-type(even) .main-fourth__bgc:nth-child(even) {
    background: no-repeat url(/img/short-1.png);
    background-size: cover;
}

.main-fourth__text {
    position: relative;
    left: 30px;
    top: 186px;
    font-size: 21px;
}

.main-fifth__title {
    text-align: center;
    margin: 150px auto 100px auto;
    font-size: 36px;
}

.main-fifth__block {
    border: 3px solid #D7B399;
    padding: 25px;
}

.main-fifth__block:hover {
    background-color: #F9F6F1;
}

.main-fifth__block img {
    width: 205px;
    height: 211px;
    margin-bottom: 25px;
}

.main-fifth__block span {
    display: block;
    text-align: center;
}

.main-fifth__block span:nth-of-type(1) {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 15px;
}

.main-fifth__block span:nth-of-type(2) {
    font-size: 18px;
    font-weight: 700;
    color: #D7B399;
}

.main-fifth__btn {
    background-color: #D7B399;
    width: 220px;
    height: 55px;
    margin: 100px auto 150px auto;
    padding-top: 15px;
    color: white;
    font-size: 16px;
    text-align: center;
}

.main-fifth__btn {
    vertical-align: middle;
}

.main-sixth__bgc {
    background-color: #212121;
    padding: 72px 0;
}

.main-sixth__bgc h2,
.main-sixth__bgc form {
    display: inline-block;
}

.main-sixth__bgc h2 {
    color: #FFFFFF;
    font-weight: 400;
    font-size: 30px;
}

#email {
    font-size: 12px;
    width: 255px;
    height: 40px;
    padding: 0 0 0 15px;
}

.main-sixth__bgc input {
    vertical-align: middle;
    border: none;
    outline: none;
}

.main-sixth__bgc input:nth-of-type(2) {
    font-size: 14px;
    width: 180px;
    height: 40px;
    color: white;
    background-color: #D7B399;
}

.footer__bgc {
    background-color: #212121;
    color: white;
    padding-top: 75px;
    padding-bottom: 75px;
}

.footer__logo {
    width: 200px;
    margin-bottom: 32px;
}

.footer__bgc p {
    max-width: 200px;
    font-size: 14px;
    font-weight: 400;
}

.footer__bgc span {
    font-size: 10px;
    font-weight: 700;
}

.footer__bgc a {
    font-size: 14px;
    font-weight: 400;
    color: #CBCFD4;
}

.footer__bgc a:hover {
    color: white;
    text-decoration: none;
}

.footer__social {
    font-size: 14px;
    font-weight: 400;
}

.footer__bgc a img {
    margin-right: 5px;
}

.footer-bottom__bgc {
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    justify-content: space-between;
}

.footer__politic {
    color: black;
}

.footer__politic:hover {
    color: black;
    text-decoration: none;
}